<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.html.ejs %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav.html.ejs %>
    </header>
    <div class="container">
      <%- include ../partials/widget.html.ejs %>
    <% if (data.length !== 0) {%>
    <div class="comment-container">
      <h1><%= data[0].name %></h1>
          <form action="/trains/stops/<%=data[0].id%>" method="post">
            <label for="note">Comment</label>
            <input type="text" name="note" class="input" id="comment">
            <label for="submit"></label>
              <button id="submit" type="submit" class="login">Submit!</button>
          </form>

        <% for(var i = 0; i < data.length; i++) { %>

        <div class="one-comment">
            <a href="#" id="username"> <%= data[i].username %></a><br>
            <a id="note"> <%= data[i].note %> </a><br>
            <a id="time"> <%= data[i].posted %> </a>
        </div>

      <% } %>
      </div>



      <% } else { %>
        <div class="comment-container">
         <h1><%=stops[0].name %></h1>
           <form action="/trains/stops/<%=stops[0].id %>" method="post">
                  <label for="note">Comment</label>
                  <input type="text" name="note" id="comment" class="input">
                  <label for="submit"></label>
                  <button id="submit" type="submit" class="login">Submit!</button>
             </form>
            </div>
         <% } %>
       </div>
  </body>
</html>
