<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.html.ejs %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav.html.ejs %>
    </header>
    <div class="container">
      <%- include ../partials/widget.html.ejs %>
        <% if (user) {%>
          <div class="main">
            <h1 id="logo"><%= data[0].trains_name%> -Stops</h1>
            <div class="stop container">
              <% for(var i = 0; i < data.length; i++) { %>
                <div class="stop-div">
                  <p class="stop"><a href="/trains/stops/<%= data[i].id %>"><%= data[i].name %></a></p>
                </div>
              <% } %>
            </div>
        </div>
        <% } %>
    </div>
  </body>
</html>
