<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head.html.ejs %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav.html.ejs %>
    </header>
    <div class="container">
      <%- include ../partials/widget.html.ejs %>
      <% if (!(user)) {%>
          <div id="main">
            <p>WE ARE DELAYED DUE TO...</p>
            <h1 id="logo"> TRAIN TRAFFIC </h1>
          <div class="body-text">
            <p>"Good Service" is relative.<br> Login or Sign-Up to post and get minute-by-minute updates on what's happening at your local stop. </p>
          </div>
        </div>
      <% } %>

      <% if (user) {%>
        <div id="main">
          <h1 id="logo">Train Lines</h1>
          <div class="line-container">
            <% for(var i = 0; i < data.length; i++) { %>
              <div class= "trains">
                <h1 class="lines"><a href="/trains/<%= data[i].id %>"><%= data[i].name %></a></h1>
              </div>
            <% } %>
          </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
